@model CommentViewModel

<h1>Comments View from Component View</h1>

<p>Id: @Model.id </p>
<p>Post Id: @Model.postId </p>
<p>Name: @Model.name </p>
<p>Email: @Model.email </p>
<p>Body: @Model.body </p>